{
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "prettier/prettier": "error",
    "no-console": "warn"
  },
  "globals": {
    "window": true,
    "document": true,
    "navigator": true
  },
  "extends": ["eslint:recommended"]
}
